.head{
    background-color: #FFF9F4;
}
.nike{
    color: #FA804C;
}
.buy{
    background-color: #3D4FF3;
}
.para-1{
    color: #363958;
}
.image{
    background-color: #F1F1F1;
}
.abc{
    color: #FA804C;
}

