.head{
    background-color: #FFF9F4;
}
.nike{
    color: #FA804C;
}

.foo-image{
    width: 8vw;
}
.para-1{
    color: #363958;
}
.image{
    background-color: #F1F1F1;
}
.abc{
    color: #FA804C;
}

